body {
    font-family: Arial, sans-serif;
    background-color: #130b3c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
}

h1, h2 {
    text-align: center;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input, .task-input select, .task-input button {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-input button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #218838;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list li span {
    margin-right: 20px;
}

.task-list .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.task-list .delete-btn:hover {
    background-color: #c82333;
}
